---
tiers:
    -
        name: smoke
        order: 1
        description: >-
            A set of conformance tests integrated from kubernetes project.
        testcases:
            -
                case_name: k8s_conformance
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    Conformance Tests are expect to pass on any Kubernetes
                    cluster, this tests are necessary demonstrate conformance
                    of the Kubernetes deployment.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: k8s_conformance
            -
                case_name: xrally_kubernetes
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    All in one tasks for checking basic functionality of
                    Kubernetes cluster.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: xrally_kubernetes
