---
tiers:
    -
        name: smoke
        description: >-
            A set of conformance tests integrated from kubernetes project.
        testcases:
            -
                case_name: xrally_kubernetes
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    All in one tasks for checking basic functionality of
                    Kubernetes cluster.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: xrally_kubernetes
            -
                case_name: k8s_conformance
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    Conformance Tests are expect to pass on any Kubernetes
                    cluster, this tests are necessary demonstrate conformance
                    of the Kubernetes deployment.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: \[Conformance\]
                        skip: \[Disruptive\]|NoExecuteTaintManager
            -
                case_name: sig_api_machinery
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    It runs the remaining sig-api-machinery testing excluding
                    the label Conformance (part of k8s_conformance)
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: \[sig-api-machinery\]
                        skip: "\\[Disruptive\\]|\\[Flaky\\]|\
                          \\[Conformance\\]"
            -
                case_name: sig_apps
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    It runs the remaining sig-apps testing excluding the
                    following labels: Conformance (part of k8s_conformance) and
                    both StatefulUpgrade and StatefulSet features.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: \[sig-apps]
                        skip: "\\[Disruptive\\]|\\[Flaky\\]|\
                          \\[Conformance\\]|\\[Feature:StatefulUpgrade\\]|\
                          [Feature:StatefulSet\\]"
            -
                case_name: sig_auth
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    It runs the remaining sig-auth testing excluding the
                    following labels: Conformance (part of k8s_conformance) and
                    both PodSecurityPolicy and BoundServiceAccountTokenVolume
                    features.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: \[sig-auth\]
                        skip: "\\[Disruptive\\]|\\[Flaky\\]|\
                          \\[Conformance\\]|\\[Feature:PodSecurityPolicy\\]|\
                          \\[Feature:BoundServiceAccountTokenVolume\\]"
            -
                case_name: sig_cli
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    It runs the remaining sig-cli testing excluding Conformance
                    (part of k8s_conformance).
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: \[sig-cli]
                        skip: "\\[Disruptive\\]|\\[Flaky\\]|\
                          \\[Conformance\\]"
            -
                case_name: sig_network
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    It runs the remaining sig-network testing excluding the
                    following labels: Conformance (part of k8s_conformance),
                    all features and load.balancer.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: \[sig-network\]
                        skip: "\\[Disruptive\\]|\\[Flaky\\]|\
                          \\[Conformance\\]|load.balancer|LoadBalancer|\
                          \\[Feature:.+\\]"
            -
                case_name: sig_network_features
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    It verifies a couple of features by running a subset of e2e
                    tests: Ingress, Networking-IPv4, Networking-Performance,
                    PerformanceDNS and NoSNAT. It excludes by default
                    NetworkPolicy, Networking-IPv6, IPv6DualStackAlphaFeature,
                    SCTP and Example. A couple of features may be automatically
                    skipped like NEG and kubemci.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: "\\[Feature:Ingress\\]|\
                          \\[Feature:Networking-IPv4\\]|\
                          \\[Feature:Networking-Performance\\]|\
                          \\[Feature:PerformanceDNS\\]|\\[Feature:NoSNAT\\]"
                        skip: "\\[Disruptive\\]|\\[Flaky\\]|\
                          \\[Feature:NetworkPolicy\\]|\
                          \\[Feature:Networking-IPv6\\]|\
                          \\[Feature:IPv6DualStackAlphaFeature\\]|\
                          \\[Feature:SCTP\\]|\\[Feature:Example\\]"
            -
                case_name: sig_storage
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    It runs the remaining sig-storage testing excluding the
                    following labels: Conformance (part of k8s_conformance),
                    all features, all drivers, PersistentVolumes.NFS and Slow.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: \[sig-storage\]
                        skip: "\\[Disruptive\\]|\\[Flaky\\]|\
                          \\[Conformance\\]|\\[Feature:.+\\]|\\[Driver:.+\\]|\
                          PersistentVolumes.NFS|\\[Slow\\]"
