---
tiers:
    -
        name: smoke
        description: >-
            A set of conformance tests integrated from kubernetes project.
        testcases:
            -
                case_name: k8s_conformance
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    Conformance Tests are expect to pass on any Kubernetes
                    cluster, this tests are necessary demonstrate conformance
                    of the Kubernetes deployment.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: \[Conformance\]
                        skip: \[Disruptive\]|NoExecuteTaintManager
            -
                case_name: sig_network
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    It runs the remaining sig-network testing excluding the
                    next labels: Conformance (part of k8s_conformance), all
                    features and load.balancer.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: \[sig-network\]
                        skip: "\\[Disruptive\\]|\\[Flaky\\]|\
                          \\[Conformance\\]|load.balancer|\\[Feature:.+\\]"
            -
                case_name: sig_network_feature
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    It verifies a couple of features by running a subset of e2e
                    tests: Ingress, Networking-IPv4, Networking-Performance,
                    PerformanceDNS, SCTP and NoSNAT. It excludes by default
                    NetworkPolicy, Networking-IPv6, IPv6DualStackAlphaFeature
                    and Example. A couple of features may be automatically
                    skipped like NEG and kubemci.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: "\\[Feature:Ingress\\]|\
                          \\[Feature:Networking-IPv4\\]|\
                          \\[Feature:Networking-Performance\\]|\
                          \\[Feature:PerformanceDNS\\]|\
                          \\[Feature:SCTP\\]|\\[Feature:NoSNAT\\]"
                        skip: "\\[Disruptive\\]|\\[Flaky\\]|\
                          \\[Feature:NetworkPolicy\\]|\
                          \\[Feature:Networking-IPv6\\]|\
                          \\[Feature:IPv6DualStackAlphaFeature\\]|\
                          \\[Feature:Example\\]"
            -
                case_name: sig_storage
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    It runs the remaining sig-storage testing excluding the
                    next labels: Conformance (part of k8s_conformance), all
                    features, all drivers and Slow.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: e2e_testing
                    args:
                        focus: \[sig-storage\]
                        skip: "\\[Disruptive\\]|\\[Flaky\\]|\
                          \\[Conformance\\]|\\[Feature:.+\\]|\\[Driver:.+\\]|\
                          \\[Slow\\]"
            -
                case_name: xrally_kubernetes
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    All in one tasks for checking basic functionality of
                    Kubernetes cluster.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: xrally_kubernetes
