---
tiers:
    -
        name: healthcheck
        order: 0
        description: >-
            A set of e2e tests integrated from kubernetes project.
        testcases:
            -
                case_name: k8s_smoke
                project_name: functest
                criteria: 100
                blocking: false
                description: >-
                    Smoke Tests a running Kubernetes cluster, which
                    validates the deployed cluster is accessible, and
                    at least satisfies minimal functional requirements.
                dependencies:
                    - DEPLOY_SCENARIO: 'k8-*'
                run:
                    name: k8s_smoke
