---
- hosts: 127.0.0.1
  roles:
    - role: collivier.xtesting
      project: functest-kubernetes
      db_project: functest
      suites:
        - container: functest-kubernetes-healthcheck
          tests:
            - k8s_quick
            - k8s_smoke
        - container: functest-kubernetes-smoke
          timeout: 3h
          tests:
            - xrally_kubernetes
            - k8s_conformance
            - sig_api_machinery
            - sig_apps
            - sig_auth
            - sig_cli
            - sig_cluster_lifecycle
            - sig_instrumentation
            - sig_network
            - sig_network_features
            - sig_node
            - sig_storage
        - container: functest-kubernetes-security
          tests:
            - kube_hunter
            - kube_bench_master
            - kube_bench_node
        - container: functest-kubernetes-benchmarking
          tests:
            - xrally_kubernetes_full
        - container: functest-kubernetes-cnf
          tests:
            - k8s_vims
            - helm_vims
            - cnf_conformance
