---
- hosts: 127.0.0.1
  roles:
    - role: collivier.xtesting
      project: functest-kubernetes
      db_project: functest
      docker_tags:
        - kali:
            branch: stable/kali
      suites:
        - container: functest-kubernetes-healthcheck
          tests:
            - k8s_quick
            - k8s_smoke
        - container: functest-kubernetes-smoke
          tests:
            - xrally_kubernetes
            - k8s_conformance
        - container: functest-kubernetes-security
          tests:
            - kube_hunter
            - kube_bench_master
            - kube_bench_node
        - container: functest-kubernetes-benchmarking
          tests:
            - xrally_kubernetes_full
        - container: functest-kubernetes-cnf
          tests:
            - k8s_vims
            - helm_vims
