---
- hosts: 127.0.0.1
  roles:
    - role: collivier.xtesting
      project: functest-kubernetes
      gerrit_project: functest-kubernetes
      builds:
        dependencies:
          - repo: _
            dport:
            container: golang
            tag: alpine3.8
        steps:
          - name: build opnfv/functest-kubernetes-core
            containers:
              - name: functest-kubernetes-core
                ref_arg: BRANCH
                path: docker/core
          - name: build opnfv/functest-kubernetes-healthcheck
            containers:
              - name: functest-functest-kubernetes-healthcheck
                ref_arg:
                path: docker/healthcheck
          - name: build containers
            containers:
              - name: functest-functest-kubernetes-smoke
                ref_arg:
                path: docker/smoke
              - name: functest-functest-kubernetes-features
                ref_arg:
                path: docker/features
      suites:
        - repo: opnfv
          container: functest-kubernetes-healthcheck
          tests:
            - k8s_smoke
        - repo: opnfv
          container: functest-kubernetes-smoke
          tests:
            - k8s_conformance
        - repo: opnfv
          container: functest-kubernetes-features
          tests:
            - stor4nfv_k8s
            - clover_k8s
