---
tiers:
  - name: cnf
    description: >-
      Collection of VNF test cases.
    testcases:
      - case_name: k8s_vims
        project_name: functest
        criteria: 100
        blocking: false
        description: >-
          Deploy and test Clearwater IMS using Kubernetes as proposed
          by https://github.com/Metaswitch/clearwater-docker
        dependencies:
          - DEPLOY_SCENARIO: "k8-*"
        run:
          name: k8s_vims

      - case_name: helm_vims
        project_name: functest
        criteria: 100
        blocking: false
        description: >-
          Deploy and test Clearwater IMS using Kubernetes as proposed
          by https://github.com/Metaswitch/clearwater-docker
        dependencies:
          - DEPLOY_SCENARIO: "k8-*"
        run:
          name: helm_vims

      - case_name: cnf_testsuite
        project_name: functest
        criteria: 1
        blocking: false
        description: >-
          Enable interoperability of Cloud native Network
          Functions (CNFs) as proposed by
          https://github.com/cncf/cnf-testsuite
        dependencies:
          - DEPLOY_SCENARIO: "k8-*"
        run:
          name: cnf_testsuite
